<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= id %></h2>
    <p>Son auteur : <%= gossips.author %></p>
    <P>Le contenu du potin : <%= gossips.content %></P>
    <p>Lien pour revenir à la <a href="/">page des potins</a>.</p>
  </body>
</html>